:root{
	--color-light-cream: #FFFCF1;		
	--color-light-pink: #FBF1FF;		
	--color-light-green: #ECFDF3;
  --color-black-not:#333333;
  --color-grey:#666666;
  --color-light-grey: #F5F5F5;
	--color-orange:#FF5745;
	--color-laganja: #FF3F1A;
	--color-red-pink: #C01048;
	--color-purple: #8810C0;	
	--color-purple-light: ##F5F1FF;	
	--color-brown:#330400;
	--color-azule-light: #8CDCDE;
  --color-blue-light-3: #F1FCFF;
	--color-azul-white: #DBFFFB;
	--color-azule:#447981;
	--color-mint: #00C7BE;
  --color-green-salad:#34C759;
  --color-green:#027A48;
  --color-light-blue:#007AFF;
  --color-light-blue-2:#108BC0;
	--color-purple-blue: #3310C0;	
	--color-sand: #B37B0E;		
  --color-gold: #FFCC00;


  --counter-header: "";
}

.border-test{
  border: 1px red solid;
}

tr:first-child{
  background-color: var(--color-azule);
}

tr:not(:first-child) {
  &:hover{
    td {
      background-color: var(--color-light-green);
    }
  }
}

/* tr{
  &:hover{
    td {
      background-color: var(--color-light-green);
    }
  }
} */

.modal-content{
  width: 110%;
  /* height: 40em;
  padding: 0; */
}

table.useCounter {
	counter-reset: row-number;
}

table.useCounter tr:not(:has(td)):before {
	content: var(--counter-header);
}

table.useCounter tr:before{
  padding: 10px;
  display: block;
  height: fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
  color: var(--color-grey);

  /* background-color: var(--color-light-green); */
}

td:first-of-type:hover{
    background-color: var(--color-light-green);
}

table.useCounter tr:has(td)::before {
	counter-increment: row-number;
	content: counter(row-number);
}

.btn-hov-dark:hover{
  background-color:var(--color-black-not);
}

.btn-hov-grey:hover{
  background-color:var(--color-light-grey);
}

.color-gold{
  color: var(--color-gold)
};

/* .color-azule{
  color: var(--color-azule);
} */

.bg-color-light-pink{
  color: var(--color-light-pink);
}

#color-azule{
  color: var(--color-azule);
}

.bg-azul-light{
  background-color: var(--color-azule-light);
}

.bg-azul{
  background-color: var(--color-azule);
}

.bg-light-grey{
  background-color: var(--color-light-grey);
}

.bg-blue-light{
  background-color: var(--color-blue-light-3);
}

.bg-purple-light{
  background-color: var(--color-purple-light);
}

.bg-azul-white{
  background-color: var(--color-azul-white);
}

.border-info{
    /* color: var(--color-azule-light); */
  border-color: var(--color-purple);
}

.color-laganja{
  color: var(--color-laganja);
}

.bg-laganja{
  background-color: var(--color-laganja);
}

.bg-orange{
  background-color: var(--color-orange);
}

.color-mint{
  color: var(--color-mint);
}

.color-purple{
  color: var(--color-purple);
}

.color-purple-blue{
  color: var(--color-purple-blue);
}

.bg-light-pink{
  background-color:var(--color-light-pink) ;
}

.color-sand{
  color: var(--color-sand);
}

.bg-cream{
  background-color:var(--color-light-cream);
}

.bg-light-green{
  background-color:var(--color-light-green);
}

.color-black{
  color: var(--color-black-not);
}

.color-light-blue{
  color: var(--color-light-blue);
}

.color-light-blue-2{
  color: var(--color-light-blue-2);
}

.color-green{
  color: var(--color-green);
}

.color-purple{
  color: var(--color-purple);
}

.color-red-pink{
  color: var(--color-red-pink);
}

.color-purple{
  color: var(--color-purple);
}

body {
    font-family: "Manrope", serif;
    font-weight: 400;
    font-style: normal;
  }

header{
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p{
  margin: 0;
  padding: 0;
}

a{
  color: var(--color-azul);
  font-weight: 600;
}

button{
  border: 0;
  margin: 0.2em;
}


.btn-action{
  width: 100%;
  button{
    border: 0;
    margin: 0.2em;
  }
}

.nav{
    font-family: "Manrope", sans-serif;
 }

 .nav-link:hover {
  color: var(--color-laganja);
  --bs-nav-link-color:#b3b3b3;
  --bs-nav-link-hover-color:white;
}

.goods:hover{
  color: #330400;;
}

.btn-status:hover{
  background: #000000;
  color: #FFFFFF;
}

/* table */

#priceTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#priceTable tr {
  background-color: #f2f2f2;
}
#priceTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #447981;
  color: white;
}

#total {
  font-size: 1.125rem;
  font-weight: bold;
}

#total-price {
  text-align: center;
}


.vert{
  display: grid;
  gap: 1rem;
  width: 10rem;
}


/* Modal test classes */

.hero {
  background: SlateGrey;
  color: white;
  padding:50px;
  text-align:center;
}
.category-button {
  background: SlateGrey;
  padding:20px;
  color:white;
  display:inline-block;
  width:200px;  
  text-align:center;
}
.category-button:hover {
  cursor: pointer;
}


/* ------------------- */

.wrapper {
  position: relative;
  width: 960px;
  padding: 10px;
}

.section_modal {
  /* position: absolute; */
  display: none;
  /* right: 0; */
  /* width: 100%; */
  /* min-height: 400px; */
  color: #000000;
}

.section_modal:first-of-type {
  display: block;
}

.modal_enclosed {
  background: beige;
  position: absolute;
  display: none;
  right: 0;
  width: auto;
  min-height: 400px;
  color: #000000;
}

.modal_enclosed:first-of-type {
  display: block;
}

.nav_modal {
  float: left;
}

.li_modal {
  text-align: start;
  color: #000000;
  cursor: pointer;

}

.input-group-append {
  cursor: pointer;
}

.nav_modal{
  height: 35rem;
}

